@use "variables" as *;
@use "mixins" as *;

:root {
  --bs-gutter-x: 1.5rem;
}

nz-form-item-feedback-icon.ant-input-suffix {
  top: 9px !important;
  height: 47px !important;
}

.custom-form {
  .ant-form-item-control-input-content {
    margin-top: 8px;
    margin-bottom: 8px;

    input {
      padding: 10px;
      border-radius: 5px;

      &:focus {
        box-shadow: none !important;
      }
    }
  }
}

.ant-form-horizontal .ant-form-item-control {
  min-width: 100% !important;
}

.ant-form-item-label > label {
  height: auto !important;
  margin-top: 10px;
  font-size: 15px !important;
}

.prayer-time-table {
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    height: 50px !important;
    padding: 10px 10px !important;
    width: 200px;
    border: transparent;
    background-color: #f5f5f5;
    border-radius: 4px;
  }
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border-color: transparent;
  box-shadow: none;
}

.ant-select-single.ant-select-open .ant-select-selection-item {
  color: #007d3a;
}

.ant-select-selection-item {
  color: #007d3a;
  font-size: 18px;
  font-weight: 500;
}

.ant-select-item {
  display: block;
  padding: 8px 15px;
  font-size: 16px;
  position: relative;
  line-height: 22px;
  font-weight: 400;
  min-height: 43px;
}

.ant-select-arrow .anticon > svg {
  vertical-align: top;
  fill: #007d3a;
}

.nav-drawer-wrapper {
  width: 100% !important;
  background: #212121;

  .ant-drawer-header {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 60px;
    background: #212121;
    .anticon,
    .anticon svg {
      fill: #fff;
      width: 28px;
      height: 28px;
    }
    .anticon {
      vertical-align: -1.525em;
    }
  }
  .ant-drawer-body {
    background: #212121;
  }
  .ant-drawer-header-title {
    justify-content: flex-end;
  }
}
.donation {
  .ant-form-item {
    // margin-bottom: 24px;
    ::placeholder {
      color: #71797e;
      opacity: 1;
    }
  }
  .ant-form-item-label > label {
    margin-top: 0;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .ant-form-item-label
    > label.ant-form-item-required:not(
      .ant-form-item-required-mark-optional
    )::before {
    display: none;
  }
  .ant-input,
  .ant-picker {
    height: 50px;
    background: #cbe0d5a8;
    border: none;
    padding: 14px;
    border-radius: 5px;
    font-size: 16px;
    &:focus {
      box-shadow: none;
    }
  }
  textarea.ant-input {
    min-height: 100px;
  }
  .ant-picker {
    width: 100%;
  }
  .ant-radio-group {
    margin-bottom: 15px;
  }
  .ant-radio-checked .ant-radio-inner {
    border-color: #71797e;
  }
  .ant-radio-checked::after {
    border: 1px solid #71797e;
  }
  .ant-radio-inner {
    background: #cbe0d5a8;
    border: 1px solid #71797e;
  }
  .ant-radio-inner::after {
    background: #71797e;
  }

  .ant-radio-input:focus + .ant-radio-inner,
  .ant-radio-wrapper:hover .ant-radio,
  .ant-radio:hover .ant-radio-inner {
    border-color: #71797e;
  }
  nz-select {
    width: 100%;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background: #cbe0d5a8;
    border: none;
    border-radius: 5px;
    ::placeholder {
      color: #71797e;
      opacity: 1;
    }
  }
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    width: 100%;
    height: 50px;
    padding: 10px 11px;
  }
  .ant-select-focused:not(.ant-select-disabled).ant-select:not(
      .ant-select-customize-input
    )
    .ant-select-selector {
    border-color: none;
    box-shadow: none;
  }
  .ant-input-status-error:not(.ant-input-disabled):not(
      .ant-input-borderless
    ).ant-input,
  .ant-input-status-error:not(.ant-input-disabled):not(
      .ant-input-borderless
    ).ant-input:hover {
    background: #cbe0d5a8;
  }
  .ant-select-status-error.ant-select:not(.ant-select-disabled):not(
      .ant-select-customize-input
    )
    .ant-select-selector {
    background-color: #cbe0d5a8;
    border-color: #ff4d4f !important;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
  }
}
.contact-form {
  .ant-form-item {
    // margin-bottom: 24px;
    ::placeholder {
      color: #71797e;
      opacity: 1;
    }
  }
  .ant-form-item-label > label {
    margin-top: 0;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .ant-form-item-label
    > label.ant-form-item-required:not(
      .ant-form-item-required-mark-optional
    )::before {
    display: none;
  }
  .ant-input,
  .ant-picker {
    height: 50px;
    // background: #cbe0d5a8;
    //border: none;
    padding: 14px;
    border-radius: 5px;
    font-size: 16px;
    &:focus {
      box-shadow: none;
      border-color: #007d3a;
    }
    &:hover {
      border-color: #007d3a;
    }
  }

  textarea.ant-input {
    min-height: 150px;
    margin-bottom: 20px;
  }
  .ant-picker {
    width: 100%;
  }
  .ant-radio-group {
    margin-bottom: 15px;
  }
  .ant-radio-checked .ant-radio-inner {
    border-color: #71797e;
  }
  .ant-radio-checked::after {
    border: 1px solid #71797e;
  }
  .ant-radio-inner {
    //   background: #cbe0d5a8;
    border: 1px solid #71797e;
  }
  .ant-radio-inner::after {
    background: #71797e;
  }

  .ant-radio-input:focus + .ant-radio-inner,
  .ant-radio-wrapper:hover .ant-radio,
  .ant-radio:hover .ant-radio-inner {
    border-color: #71797e;
  }
  nz-select {
    width: 100%;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    //  background: #cbe0d5a8;
    border: none;
    border-radius: 5px;
    ::placeholder {
      color: #71797e;
      opacity: 1;
    }
  }
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    width: 100%;
    height: 50px;
    padding: 10px 11px;
  }
  .ant-select-focused:not(.ant-select-disabled).ant-select:not(
      .ant-select-customize-input
    )
    .ant-select-selector {
    border-color: none;
    box-shadow: none;
  }

  .ant-select-status-error.ant-select:not(.ant-select-disabled):not(
      .ant-select-customize-input
    )
    .ant-select-selector {
    //background-color: #cbe0d5a8;
    border-color: #ff4d4f !important;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
  }
}
