<div class="about-us pt-100 pb-100">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="about-us_left">
          <h2>
            {{ "mosque-landing.title" | translate }}
            <span>{{ "mosque-landing.name" | translate }}</span>
          </h2>

          <p>
            {{ "mosque-landing.desc1" | translate }}
          </p>
          <br />
          <p>
            {{ "mosque-landing.desc2" | translate }}
          </p>

          <button class="main-btn">
            {{ "mosque-landing.btnText" | translate }}
          </button>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="about-us_right">
          <img src="assets/img/about-us/2.jpg" alt="about-us" />
        </div>
      </div>
    </div>
  </div>
</div>
