<!-- <div class="jannah-way">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3" *ngFor="let i of jannah">
                <img [src]="'assets/img/jannah/' + i + '.png'" alt="jannah">
            </div>
        </div>
    </div>
</div> -->

<div class="donation-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="donation-area_content">
                    <h2>Donate now from as little</h2>
                    <p>
                        "The parable of those who spend their wealth in Allah’s Way is as the parable of a grain; it
                        grows seven ears, and in each ear there are a hundred grains. Allah gives manifold increase to
                        whom He wills. And Allah is All-Embracing, All-Knowing." Surah Al-Baqarah, 261)
                    </p>

                    <button class="main-btn">Donate now</button>
                </div>
            </div>
        </div>
    </div>
</div>