<!-- <section class="hero-banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="hero-banner_content">
                    <img src="assets/img/bismillah-green.png" alt="bismillah">
                    <h1>“AND ALLAH INVITES TO THE HOME OF PEACE”</h1>
                    <p>Surah Yunus, Verse 25</p>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- <h2>بِسْمِ ٱللَّهِ ٱلرَّحْمَـٰنِ ٱلرَّحِيمِبِسْمِ ٱللّ</h2> -->

<section class="hero-banner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="hero-banner_content">
          <h2>بِسْمِ ٱللَّهِ ٱلرَّحْمَـٰنِ ٱلرَّحِيمِبِسْمِ ٱللّ</h2>
          <!-- <img src="assets/img/bismillah.png" alt="bismillah"> -->
          <h1>{{ "hero-banner.title" | translate }}</h1>
          <p>{{ "hero-banner.reference" | translate }}</p>

          <button class="main-btn">
            {{ "hero-banner.btnText" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
