<section
  class="page-hero"
  style="background-image: url('../../../../../assets/img/contact/hero.png')"
>
  <div class="container">
    <div class="page-hero_content">
      <h2>Etiquettes</h2>
    </div>
  </div>
</section>

<div class="etiquettes pt-100 pb-70">
  <div class="container">
    <!-- new update -->

    <div class="title-area">
      <h2>Essential Etiquettes</h2>
      <p>
        We’ve compiled a selection of etiquettes, to help maximise your rewards
        and adherence to the sunnah
      </p>
    </div>
    <div class="row">
      <div class="col-md-6 pb-30" *ngFor="let item of etiquettes1">
        <div class="etiquettes_content">
          <h3>{{ item.title }}</h3>
          <ul>
            <li *ngFor="let item of item.list; index as i">
              {{ i + 1 }}. {{ item }}
            </li>
          </ul>
          <p>{{ item.description }}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 pb-30" *ngFor="let item of etiquettes2">
        <div class="etiquettes_content">
          <h3>{{ item.title }}</h3>
          <ul>
            <li *ngFor="let item of item.list; index as i">
              {{ i + 1 }}. {{ item }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="donation-area pb-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="donation-area_content">
          <h2>Donate now from as little</h2>
          <p>
            "The parable of those who spend their wealth in Allah’s Way is as
            the parable of a grain; it grows seven ears, and in each ear there
            are a hundred grains. Allah gives manifold increase to whom He
            wills. And Allah is All-Embracing, All-Knowing." Surah Al-Baqarah,
            261)
          </p>

          <button class="main-btn">Donate now</button>
        </div>
      </div>
    </div>
  </div>
</div>
