$textColor: #212121;
// $primaryColor: #019147;
// $primaryColor: #1D8E5A;
$primaryColor: #007d3a;
// $seconderyColor: #f79d05;
$seconderyColor: #fbc50b;
$primaryDark: #111c43;
$shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
$sidebarWidth: 300px;
$headText: #3f3f3f;
$btnBg: #111c43;
$btnText: #fff;